<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/add.css">
  <title>Agregar Profesor</title>
</head>
<body>
  <div class="container">
    <h1>Agregar Profesor</h1>
      <form action="/altp" method="POST" enctype="multipart/form-data">
        <label class="label" for="nombre_usuario">Nombre completo:</label>
        <input class="input" type="text" name="nombre_usuario" required><br>
        <label class="label" for="contrasena">Contraseña:</label>
        <input class="input" type="password" name="contrasena"><br>
        <label class="label" for="correo_electronico">Correo electrónico:</label>
        <input class="input" type="email" name="correo_electronico" required><br>
        <label class="label" for="fecha_nacimiento">Fecha de nacimiento:</label>
        <input class="input" type="date" name="fecha_nacimiento" required><br>
        <label class="label" for="foto">Foto:</label>
        <input class="input" type="file" name="foto" required><br>
        <label class="label" for="especialidad">Especialidad:</label>
        <input class="input" type="text" name="especialidad"><br>
        <input class="input" type="hidden" name="tipo_usuario" value="profesor">
        <br>
        <input class="button" type="submit" value="Agregar">
    </form>
  </div>
</body>
</html>
