<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form id="login-form" method="POST" action="/login">
            <p>Inicia sesion para continuar.</p>
            <form action="/validaruser" method="get">
            <input type="text" id="user" name="user" placeholder="Usuario">
            <input type="text" id="pass" name="pass" placeholder="Contraseña">
            <div class="btningreso">
                <button type="submit">Ingresar</a></button>
            </div>
          </form>
          
        <a href="/registroa">Regístrate Alumnos</a>
        <a href="/registrom">Regístrate Maestros</a>

    </div>
</body>
</html>